<form class="form" [formGroup]="formulario">
  <div class="divP">
    <div class="busqueda-y-filtro">

      <input type="text" formControlName="query" placeholder="Buscar película..." />

      <select formControlName="genero">
        <option value="" disabled selected>Filtrar por género</option>
        @for (gen of generos; track $index) {
        <option [value]="gen">{{gen}}</option>
        }
      </select>

      <input type="text" formControlName="año" placeholder="Año" />

      <select formControlName="popularidad">
        <option value="" disabled selected>Filtrar por popularidad</option>
        <option value="popularity.desc">Más populares</option>
        <option value="vote_average.desc">Mejor calificadas</option>
      </select>

      <button type="button" (click)="buscarPeliculas()">Buscar</button>
    </div>
  </div>

</form>
