body, html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #2c2f33;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-body);
}
.agregar-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;
  margin-top: 3rem;
  border-radius: 10px;
  font-family:'Oswald', sans-serif;;
}

.agregar-playlist-container h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

.agregar-playlist-container input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.agregar-playlist-container .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: left;
  width: 100%;
  font-family: 'Oswald', sans-serif ;
}

button[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-button);
  color: white;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 4px;
  margin-top: 1.5rem;
  cursor: pointer;
  text-align: center;
}

button[type="submit"]:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}
.agregar-playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;
  margin-top: 3rem;
  border-radius: 10px;
  font-family:'Oswald', sans-serif;;
}

.agregar-playlist-container h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

.agregar-playlist-container input[type="text"] {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.agregar-playlist-container .error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.3rem;
  text-align: left;
  width: 100%;
  font-family: 'Oswald', sans-serif ;
}

button[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-button);
  color: white;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  border: none;
  border-radius: 4px;
  margin-top: 1.5rem;
  cursor: pointer;
  text-align: center;
}

button[type="submit"]:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}
.back-button {
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  margin: auto;
}

.back-button:hover {
  transform: scale(1.1);
}
