<div class="detalle-playlist-container">
  <div class="back-button" (click)="volverAplaylists()">←</div>
  <div>
    @if (playlist) {
      <h2>{{ playlist.nombre }}</h2>
      <ul>

          @for (pelicula of peliculas; track $index) {
            <li>
                 {{ pelicula.title }}
                 <button *ngIf="esActivo" (click)="eliminarPelicula(pelicula.id)">Eliminar Pelicula</button>
            </li>
          }
      </ul>
    }
  </div>
  <div>
    @if (errorMessage) {
      <p class="p">{{ errorMessage }}</p>
    }
  </div>
</div>



