.movie-detail-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  color: white;
  position: relative;
}

.back-button {
  position: absolute; /* Fijo para que esté visible al desplazarse */
  top: 60px; /* Ajusta este valor según la altura de tu navbar */
  left: 25px;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  z-index: 10; /* Para asegurar que esté encima del contenido pero debajo del navbar */
}

.back-button:hover {
  background-color: #666;
}

.movie-poster img {
  margin-top: 42px;
  width: 350px;
  border-radius: 8px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.movie-title {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: var(--color-texto);
}

.movie-rating {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-genre, .movie-runtime {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

.movie-description {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.action-btn {
  background-color: #444;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  font-family: 'Oswald', sans-serif;
  color: var(--color-texto);
  margin-top: 20px;
}

.estrellas {
  display: flex;
  gap: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.estrellas span {
  color: #d3d3d3; /* Color gris para estrellas no seleccionadas */
}

.estrellas span.selected {
  color: gold; /* Color dorado para estrellas seleccionadas */
}
