<div class="profile-container">
  @if (usuario) {
  <h2>Perfil de {{ usuario.username }}</h2>
  <div class="user-info">
    <p class="p"><strong>Nombre completo:</strong> {{ usuario.nombreCompleto }}</p>
    <p class="p"><strong>Email:</strong> {{ usuario.email }}</p>
    <button (click)="editarPerfil()">Editar Perfil</button>
  </div>

  <div class="playlists">
    <h3>Playlists:</h3>
    <ul *ngIf="usuario.playlists.length > 0; else noPlaylists">
      <ng-container>
        @for (playlist of usuario.playlists; track $index) {
        <li *ngIf="playlist.nombre !== 'Me Gusta' && playlist.nombre !== 'Peliculas Vistas'">
          <button class="playlist-button" (click)="verPlaylist(playlist.id)">
            {{ playlist.nombre }}
          </button>
        </li>
        }
      </ng-container>
    </ul>
    <ng-template #noPlaylists>
      <p class="p">Este usuario no tiene playlists.</p>
    </ng-template>
  </div>

  <div class="ratings">
    <h3>Peliculas Calificadas:</h3>
    <ul *ngIf="usuario.peliculasCalificadas.length > 0; else noCalificaciones">
      @for (c of usuario.peliculasCalificadas; track $index) {
      <li>
        <div><span class="info-label">Pelicula: </span><span class="info-value">{{c.nombrePelicula}}</span></div>
        <div><span class="info-label">Calificacion: </span><span class="info-value">{{c.calificacion}}</span></div>
        <div><span class="info-label">Comentario: </span><span class="info-value">{{c.texto}}</span></div>
      </li>

      }
    </ul>
    <ng-template #noCalificaciones>
      <p class="p">Este usuario no tiene peliculas calificadas.</p>
    </ng-template>
  </div>
  }
</div>


<div>
  @if (!usuario) {
  <p class="p">Cargando perfil...</p>
  }
</div>
