<div *ngIf="usuario">
  <h2 class="h2">Perfil de {{ usuario.username }}</h2>
  <p class="h2"><strong>Nombre completo:</strong> {{ usuario.nombreCompleto }}</p>
  <p class="h2"><strong>Email:</strong> {{ usuario.email }}</p>

  <h3 class="h3">Playlists:</h3>
  <ul *ngIf="usuario.playlists.length > 0; else noPlaylists" class="h2">
    <li *ngFor="let playlist of usuario.playlists">{{ playlist.nombre }}</li>
  </ul>
  <ng-template #noPlaylists>
    <p>Este usuario no tiene playlists.</p>
  </ng-template>

  <h3 class="h3">Peliculas Calificadas:</h3>
  <ul *ngIf="usuario.peliculasCalificadas.length > 0; else noCalificaciones" class="h2">
    <li *ngFor="let c of usuario.peliculasCalificadas">Calificacion: {{ c.calificacion }} Pelicula: {{c.nombrePelicula}}</li>
  </ul>
 <ng-template #noCalificaciones>
    <p>Este usuario no tiene playlists.</p>
  </ng-template>
</div>

<div *ngIf="!usuario">
  <p>Cargando perfil...</p>
</div>