/* Asegura que el contenedor principal esté centrado */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #2c2f33; /* Color de fondo */
}
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-body); /* Ajusta según el color de fondo que prefieras */
}
.profile-container {
  width: 400px;
  padding: 35px;
  background-color: var(--color-fondo);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 0 auto;
  font-family: 'Oswald',sans-serif;
  margin-top: 5rem;
}

.profile-container h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.user-info,
.playlists,
.ratings {
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}


button {
  width: 100%;
  padding: 10px;
  background-color: var(--color-button);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none;
}

button, .playlist-button {
  width: 100%;
  padding: 10px;
  color: var(--color-texto);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  transition: background-color 0.3s;
}

button:hover, .playlist-button:hover {
  background-color: #ff3b3f;
}

button a {
  color: #ffffff;
  text-decoration: none;
}

.followers h3,
.playlists h3,
.ratings h3 {
  font-size: 18px;
  color: #ffffff;
  border-bottom:solid #ff3b3f;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
}


ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

ul li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  font-family: 'Oswald', sans-serif;
}
.ratings ul li{
  background-color: white;
}
.ratings ul li .info-label {
  font-weight: bold;
  color: red;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

.ratings ul li .info-value {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  color: black;
  opacity: 1rem;
}
.back-button {
  position: absolute;
  top: 35px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  margin: auto;
}

.back-button:hover {
  transform: scale(1.1);
}
