<div class="profile-container">
  @if (usuario) {
    <h2>Perfil de {{ usuario.username }}</h2>
    <button class="follow-button" (click)="alternarSeguir()">
      {{ esUsuarioSeguido() ? 'Dejar de seguir' : 'Seguir' }}
    </button>

    <div class="user-info">
          <p><strong>Nombre completo:</strong> {{ usuario.nombreCompleto }}</p>
          <p><strong>Email:</strong> {{ usuario.email }}</p>
    </div>

    <div class="playlists">
          <h3>Playlists:</h3>
          <ul *ngIf="usuario.playlists.length > 0; else noPlaylists">
            <ng-container>
              @for (playlist of usuario.playlists; track $index) {
                <li *ngIf="playlist.nombre !== 'Me Gusta'">
                {{ playlist.nombre }}
                <button (click)="verPlaylist(playlist.id,usuario.id)">Ver Playlist</button>
              </li>
              }


            </ng-container>
        </ul>
         <ng-template #noPlaylists>
         <p>Este usuario no tiene playlists.</p>
         </ng-template>
    </div>

    <div class="followers">
          <h3>Seguidores</h3>
    <ul *ngIf="usuario.usuariosSeguidos.length > 0; else noSeguidores">
      <li>{{usuario.usuariosSeguidos.length}}</li>
    </ul>
    <ng-template #noSeguidores>
      <p>Este usuario no tiene pseguidores.</p>
    </ng-template>
    </div>

    <div class="ratings">
          <h3>Calificaciones:</h3>
    <ul *ngIf="usuario.peliculasCalificadas.length > 0; else noCalificaciones">
      <li>
        @for (c of usuario.peliculasCalificadas; track $index) {
          Calificaciones: {{ c.calificacion }} Pelicula: {{c.nombrePelicula}} Comentario: {{c.texto}}
        }
      </li>
    </ul>
    <ng-template #noCalificaciones>
      <p>Este usuario no tiene peliculas calificadas.</p>
    </ng-template>
    </div>
  }
  </div>

  <div *ngIf="!usuario">
    <p>Cargando perfil...</p>
  </div>

