<div class="header">
  <img src="https://cdn.leonardo.ai/users/ff94eca7-625d-49ae-ad51-f2a5880946c0/generations/10f3d1ad-e84d-45cd-9058-9e6e53ae2b57/Leonardo_Phoenix_Against_a_deep_rich_blue_background_with_a_he_3.jpg" alt="PopCornMovie" class="logo">
</div>
<!-- Componente de búsqueda y filtros -->
<app-busqueda-pelicula (onBuscar)="actualizarResultadosBusqueda($event)"></app-busqueda-pelicula>

<!-- Componente de listado de películas -->
<app-listar-pelicula [peliculas]="resultadosBusqueda"></app-listar-pelicula>
