:root {
  --color-body:  linear-gradient(to right, #040313, #031A39);
  --color-texto: #fff;
  --color-fondo: #010916;
  --color-button: #ff0000;
}
.footer {
  background-color: #020027;
  color: var(--color-texto);
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
}

.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin: 0 15px;
}

.footer-links a {
  color:var(--color-texto);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.color1{
  color: white;
}
.color2{
  color: #031A39;
}

.root{
  background: var(--color-body);
}


html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #0a0a23;
  color: white;
  padding: 1rem;
  text-align: center;
}


@media (max-width: 600px) {
  .contenedor-principal {
    padding: 10px;
    width: 100%;
  }


  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .formulario-busqueda {
    width: 100%;
  }


  .logo {
    width: 80%;
    margin: auto;
  }

  .tarjeta-pelicula {
    width: 100%;
    margin: 10px 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .mi-clase {
    font-size: 16px;
    padding: 15px;
  }
}

@media (min-width: 1025px) {
  .mi-clase {
    font-size: 18px;
    padding: 20px;
  }
}
