<div class="usuarios-container">
  <div *ngIf="usuarios.length > 0; else noUsuarios">
    <h2 class="h2">Listado de Usuarios</h2>
    <ul>
      <ng-container>
        @for (usuario of usuarios; track $index) {
          <li *ngIf="usuario.id !== userIdSesion">
            <div>
              {{ usuario.username }}
              <button><a [routerLink]="['/perfil', usuario.id]">Ver perfil</a></button>
            </div>
          </li>

        }
      </ng-container>
    </ul>
</div>

<ng-template #noUsuarios>
<p class="p">No se encontraron usuarios.</p>
</ng-template>
</div>


